<?xml version='1.0' encoding='utf-8'?>
<robot xmlns:xacro="http://www.ros.org/wiki/xacro" name="leap_hand_right">
  <xacro:arg name="prefix" default="leap_right"/> <!-- Name of this leap_hand_right -->
  <xacro:arg name="connected_to" default=""/>
  <xacro:arg name="xyz" default="0 0 0"/> <!-- Position offset -->
  <xacro:arg name="rpy" default="0 0 0"/> <!-- Orientation offset -->

  <xacro:include filename="$(find leap_hand_description)/robots/leap_hand_right.xacro"/>
  <xacro:leap_hand_right prefix="$(arg prefix)" connected_to="$(arg connected_to)" xyz="$(arg xyz)" rpy="$(arg rpy)"/>
</robot>
